﻿@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>

<div>
    <input id="edName" type="text" placeholder="Name" value="" /><br />
    <input id="edPhone" type="text" placeholder="Phone" value="" /><br />
    <input id="edAddress" type="text" placeholder="Address" value="" /><br />
    <button id="btnAddPerson">Add person</button>
</div>

<div id="divSavedPeople">
    <h3>Saved people</h3>
    <ul id="ulSavedPeople">
    </ul>
</div>

<pre style="background-color:#eee;padding:20px;">
    <code id="txtResults" class="json">
        Results from the API call go here!
    </code>
</pre>

@section scripts {
<script>
    (function () {
        var state = {
            people: []
        }

        $('#btnAddPerson').on('click', function () {
            $.ajax(location.origin + '/api/Person', {
                data: {
                    Name: $('#edName').val(),
                    Address: $("#edAddress").val(),
                    Phone: $("#edPhone").val()
                },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    Update();
                },
                error: function (xhr, status, errorMsg) {
                    alert(errorMsg + "\n\n" + status);
                }
            })
        });

        $('#divSavedPeople').on('click', '.btnBook', function (event) {
            $('#txtResults').text('Processing...');
            $.ajax(location.origin + '/api/Booking', {
                data: {
                    personId: $(this).attr('data-id')
                },
                dataType: "json",
                type: "GET",
                success: function (data) {
                    UpdateLog(data);
                },
                error: function (xhr, status, errorMsg) {
                    UpdateLog(xhr);
                }
            });
        });

        function Update() {
            $.ajax(location.origin + '/api/Person', {
                dataType: "json",
                type: "GET",
                success: function (data) {
                    state.people = data;
                    RefreshSavedPeople(data);
                },
                error: function (xhr, status, errorMsg) {
                    alert(errorMsg + "\n\n" + status);
                }
            });
        }

        function Refresh() {
            RefreshSavedPeople(state.people);
        }

        function RefreshSavedPeople(people) {
            $('#ulSavedPeople').empty();
            people.forEach(function (item, index) {
                $('#ulSavedPeople').append("<li><button class='btnBook' data-id='" + item.Id + "'>Book</button> " + item.Name + ", " + item.Address + ", Ph: " + item.Phone + "</li>");
            });
        }

        function UpdateLog(data) {
            $('#txtResults').text(JSON.stringify(data, null, 2));
            hljs.highlightBlock($('#txtResults')[0]);
        }

        Update();
    })();
</script>
}
